.container-cadastro * {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-cadastro p {
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    
}

.container-cadastro .cadastro-fields {
    padding: 1.5rem;
    width: 100%;
    
}

.cadastro-fields .MuiFormControl-root {
    margin: 0.5rem;
}



.cadastro-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}