#box-view-itens {
    position: absolute;
    padding: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    max-width: 100%;
    height: auto;
    background: whitesmoke;
    border: 2px solid #000;
    size: 4;
    color: white;
    border-radius: 10%;
}

#tittle-modal {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    background-color: #c52f33;
    border-radius: 1rem;

}

#tittle-modal label {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    
}

#dadosvenda {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    margin-top: 0.5rem;
    background-color: #c52f33;
    border-radius: 1rem;
    justify-content: center;
}

#dadosvenda .col {
    display: flex;
    flex-direction: column;
    padding: 0.7rem;
}

#dadosvenda label {
    padding: 0.07rem;
}

#formadepagamento {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    margin-top: 0.5rem;
    background-color: #c52f33;
    border-radius: 1rem;
    justify-content: center;
    padding: 0.5rem;
}

#formadepagamento label {
    align-items: center;
    justify-content: center;
}


#corpovenda {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    margin-top: 0.5rem;
    background-color: #c52f33;
    border-radius: 1rem;
    justify-content: center;
    padding: 0.5rem;

}

#opcoes {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

    
}

#opcoes * {
    font-size: 2rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;

    
}