#box-create-venda {
    position: relative;
    padding: 1.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    max-width: 100%;
    height: auto;
    background: whitesmoke;
    border: 2px solid #000;
    size: 4;
    color: rgb(0, 0, 0);
    border-radius: 1.5rem;

}

#closeitem {
    top: 5px;
    right: 5px;
    position: absolute;
}


.container-cadastro {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
}
.container-cadastro * {
    width: 100%;
    align-items: center;
    margin: 0.5rem;
}

.container-cadastro p {
    font-size: 2.2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: -webkit-center;
}

#next, #back {
    background-color: #c52f33;    
}

.container-products {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.container-products p {
    width: 100%;
    font-size: 2.2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: -webkit-center;
}

.col-search-products * {
    margin-bottom: 0.5rem;
}

.col-products {
    display: flex;
    flex-direction: row;
}

.col-products * {
    margin: 0.3rem;
    margin-bottom: 1rem;
}

.card-products {
    background-color: rgb(206, 207, 207);
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #000;
    position: relative;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    
}
.card-products label {
    width: 100%;
}

.card-products #delete {
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
}

.buttons-products {
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
}

.buttons-products #next, #back {
    margin: 0 2rem;
}

.container-formapag {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.tittle-formapag p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    
}

.dadosvenda-formapag {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.2rem;
    width: 100%;
    
}

.formpag-saldo, .formpag-quantidade, .formpag-valortotal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #c52f33;
    color: aliceblue;
    border-radius: 1.5rem;
    padding: 1rem;
    margin: 0.2rem;
    
    
}


.dadosvenda-formapag p {
    padding: 1rem;
}

.selectforma {
    width: 100%;
    padding: 0.5rem;
}

.labelforma {
    display: flex;
    flex-direction: row;  
    margin: 0.5rem;
}

.labelforma p {
    color: white;
}

.buttonadd-forma {
    display: flex;
    width: 100%;
}

.card-formapag {
    margin-top: 1.2rem;
    background-color: rgb(206, 207, 207);
    border-radius: 1.5rem;
    padding: 1rem;
    
}

.card-formapag td, tr {
    padding: 0 0.3rem;
    
}

.formpag-buttons {
    padding: 1rem;  
    
}

#next-forma, #back-forma {
    background-color: #c52f33;
    margin: 0 2rem;
}


#opcoes-preview {
    display: flex;
    justify-content: center;
    padding: 1rem;
}