#box-fechamento-caixa {
    position: absolute;
    padding: 1.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    max-width: 100%;
    max-height: 700px;
    height: auto;
    background: whitesmoke;
    border: 2px solid #000;
    size: 4;
    color: rgb(0, 0, 0);
    border-radius: 1.5rem;
    overflow: overlay;
    

}

.faturamentotot h3 {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: #c52f33;;
    border-radius: 1.5rem;
    color: white;
}

.button-print {
    display: flex;
    justify-content: center;
    padding: 1rem;

}
