#box-view-itens {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background: whitesmoke;
    border: 2px solid #000;
    size: 4;
}